In [1]:
import pandas as pd
import numpy as np
import torch
from transformers import AutoModel, AutoTokenizer
from sklearn.model_selection import train_test_split
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.pipeline import FeatureUnion, Pipeline
from sklearn.multioutput import MultiOutputClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import SGDClassifier

In [2]:
torch.cuda.is_available()

False

In [3]:
#tok = AutoTokenizer.from_pretrained('KB/bert-base-swedish-cased', use_fast=False)
#model = AutoModel.from_pretrained('KB/bert-base-swedish-cased')

Some weights of the model checkpoint at KB/bert-base-swedish-cased were not used when initializing BertModel: ['cls.predictions.transform.LayerNorm.bias', 'cls.predictions.transform.LayerNorm.weight', 'cls.predictions.decoder.bias', 'cls.predictions.transform.dense.weight', 'cls.predictions.bias', 'cls.predictions.decoder.weight', 'cls.predictions.transform.dense.bias']
- This IS expected if you are initializing BertModel from the checkpoint of a model trained on another task or with another architecture (e.g. initializing a BertForSequenceClassification model from a BertForPreTraining model).
- This IS NOT expected if you are initializing BertModel from the checkpoint of a model that you expect to be exactly identical (initializing a BertForSequenceClassification model from a BertForSequenceClassification model).

In [23]:
#inputs = tok(['hälsa hälsan hälsans'], return_tensors="pt", padding='max_length', max_length = 512, truncation=True)
#inputs = tok(X[:10].values.tolist(), return_tensors="pt", padding='max_length', max_length = 512, truncation=True)

In [25]:
#outputs = model(**inputs)
#outputs = outputs['pooler_output'].detach().numpy().reshape(X.shape[0], -1)

In [17]:
class NLPTransformer(TransformerMixin):
    def __init__(self):
        print('Init called')
        self.model_name = 'KB/bert-base-swedish-cased'
        self.Bert = AutoModel.from_pretrained(self.model_name)
        self.Tokenizer = AutoTokenizer.from_pretrained(self.model_name)
        self.batch_size = 10
        
    def fit(self, X, y=None):
        print('Fit called')
        
        
        return self
    
    def partial_fit(self, X, y=None):
        print('Partial Fit called')

        return self
        
    def transform(self, X):
        print('Transform Called')
       
        # Transform input tokens. This is most efficient if done in one batch 
        inputs = self.Tokenizer(X.values.tolist(), return_tensors="pt", padding='max_length', max_length = 512, truncation=True)

        # Run Bert model, We must mini batch this in order to not overflow the memory of the system
        transformed = []
        
        batches = int(np.ceil(X.shape[0] / self.batch_size))
        for batchId in range(batches):
            print(f'Running batch {batchId+1}/{batches}')
        
            inputs_batch = {}
            for key in inputs.keys():
                inputs_batch[key] = inputs[key][batchId * self.batch_size:(batchId + 1) * self.batch_size]

            outputs = self.Bert(**inputs_batch)
            outputs = outputs['pooler_output'].detach().numpy()
            print(f'output shape: {outputs.shape}')
            transformed.extend(outputs)
        
        transformed = np.array(transformed)
        print(f'transformed.shape: {transformed.shape}')
        
        return transformed

In [5]:
pipeline = Pipeline([    
            ('nlpTransformer', NLPTransformer()),
            ('clf', RandomForestClassifier())])

Init called

Some weights of the model checkpoint at KB/bert-base-swedish-cased were not used when initializing BertModel: ['cls.predictions.decoder.bias', 'cls.predictions.decoder.weight', 'cls.predictions.transform.dense.bias', 'cls.predictions.transform.dense.weight', 'cls.predictions.transform.LayerNorm.bias', 'cls.predictions.transform.LayerNorm.weight', 'cls.predictions.bias']
- This IS expected if you are initializing BertModel from the checkpoint of a model trained on another task or with another architecture (e.g. initializing a BertForSequenceClassification model from a BertForPreTraining model).
- This IS NOT expected if you are initializing BertModel from the checkpoint of a model that you expect to be exactly identical (initializing a BertForSequenceClassification model from a BertForSequenceClassification model).

In [ ]:
#Read the data

In [4]:
df = pd.read_csv('../data/bbc-text.csv')

In [5]:
df.head()

        category                                               text
0           tech  tv future in the hands of viewers with home th...
1       business  worldcom boss  left books alone  former worldc...
2          sport  tigers wary of farrell  gamble  leicester say ...
3          sport  yeading face newcastle in fa cup premiership s...
4  entertainment  ocean s twelve raids box office ocean s twelve...

In [6]:
df['category'].unique()

array(['tech', 'business', 'sport', 'entertainment', 'politics'],
      dtype=object)

In [7]:
df2 = pd.get_dummies(df, columns=['category'])

In [8]:
X = df2['text']

In [9]:
Y = df2.drop(columns=['text'])

In [10]:
X.head()

0    tv future in the hands of viewers with home th...
1    worldcom boss  left books alone  former worldc...
2    tigers wary of farrell  gamble  leicester say ...
3    yeading face newcastle in fa cup premiership s...
4    ocean s twelve raids box office ocean s twelve...
Name: text, dtype: object

In [11]:
Y.head()

,category_business,category_entertainment,category_politics,category_sport,category_tech
0,0,0,0,0,1
1,1,0,0,0,0
2,0,0,0,1,0
3,0,0,0,1,0
4,0,1,0,0,0

In [12]:
#Test train split

In [13]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=42)

In [14]:
X_train.shape

(1780,)

In [17]:
Y_train[:5]

,category_business,category_entertainment,category_politics,category_sport,category_tech
1490,0,1,0,0,0
2001,1,0,0,0,0
1572,1,0,0,0,0
1840,0,1,0,0,0
610,0,0,0,0,1

In [18]:
class MiniBatcher():
    def __init__(self, X, Y, batch_size=100, max_epochs=1):
        self.X = X
        self.Y = Y
        self.batch_size = batch_size
        self.max_epochs = max_epochs
        self.batchId = 0
        self.epochId = 0
        
    def getBatchIterator(self):
        self.batchId = 0
        self.epochId = 0
        
        while True:
            X_mini = X[self.batchId * self.batch_size:(self.batchId + 1) * self.batch_size]
            Y_mini = Y[self.batchId * self.batch_size:(self.batchId + 1) * self.batch_size]
            self.batchId += 1
            print(self.batchId, self.epochId)
            print(len(X_mini))
            if len(X_mini) < self.batch_size:
                self.epochId += 1
                self.batchId = 0
                if self.epochId <= self.max_epochs:
                    print('will break')
                    break
            
            yield X_mini, Y_mini

In [100]:
mMiniBatcher = MiniBatcher(X_train, Y_train)

In [101]:
batchIterator = mMiniBatcher.getBatchIterator()

In [130]:
#Train the model
#output = pipeline.fit(X_train[:25], Y_train[:25].values)
output = pipeline.fit(X_train[:1500], Y_train[:1500].values)

Fit called
Transform Called
Running batch 1/150
output shape: (10, 768)
Running batch 2/150
output shape: (10, 768)
Running batch 3/150
output shape: (10, 768)
Running batch 4/150
output shape: (10, 768)
Running batch 5/150
output shape: (10, 768)
Running batch 6/150
output shape: (10, 768)
Running batch 7/150
output shape: (10, 768)
Running batch 8/150
output shape: (10, 768)
Running batch 9/150
output shape: (10, 768)
Running batch 10/150
output shape: (10, 768)
Running batch 11/150
output shape: (10, 768)
Running batch 12/150
output shape: (10, 768)
Running batch 13/150
output shape: (10, 768)
Running batch 14/150
output shape: (10, 768)
Running batch 15/150
output shape: (10, 768)
Running batch 16/150
output shape: (10, 768)
Running batch 17/150
output shape: (10, 768)
Running batch 18/150
output shape: (10, 768)
Running batch 19/150
output shape: (10, 768)
Running batch 20/150
output shape: (10, 768)
Running batch 21/150
output shape: (10, 768)
Running batch 22/150
output shape: (10, 768)
Running batch 23/150
output shape: (10, 768)
Running batch 24/150
output shape: (10, 768)
Running batch 25/150
output shape: (10, 768)
Running batch 26/150
output shape: (10, 768)
Running batch 27/150
output shape: (10, 768)
Running batch 28/150
output shape: (10, 768)
Running batch 29/150
output shape: (10, 768)
Running batch 30/150
output shape: (10, 768)
Running batch 31/150
output shape: (10, 768)
Running batch 32/150
output shape: (10, 768)
Running batch 33/150
output shape: (10, 768)
Running batch 34/150
output shape: (10, 768)
Running batch 35/150
output shape: (10, 768)
Running batch 36/150
output shape: (10, 768)
Running batch 37/150
output shape: (10, 768)
Running batch 38/150
output shape: (10, 768)
Running batch 39/150
output shape: (10, 768)
Running batch 40/150
output shape: (10, 768)
Running batch 41/150
output shape: (10, 768)
Running batch 42/150
output shape: (10, 768)
Running batch 43/150
output shape: (10, 768)
Running batch 44/150
output shape: (10, 768)
Running batch 45/150
output shape: (10, 768)
Running batch 46/150
output shape: (10, 768)
Running batch 47/150
output shape: (10, 768)
Running batch 48/150
output shape: (10, 768)
Running batch 49/150
output shape: (10, 768)
Running batch 50/150
output shape: (10, 768)
Running batch 51/150
output shape: (10, 768)
Running batch 52/150
output shape: (10, 768)
Running batch 53/150
output shape: (10, 768)
Running batch 54/150
output shape: (10, 768)
Running batch 55/150
output shape: (10, 768)
Running batch 56/150
output shape: (10, 768)
Running batch 57/150
output shape: (10, 768)
Running batch 58/150
output shape: (10, 768)
Running batch 59/150
output shape: (10, 768)
Running batch 60/150
output shape: (10, 768)
Running batch 61/150
output shape: (10, 768)
Running batch 62/150
output shape: (10, 768)
Running batch 63/150
output shape: (10, 768)
Running batch 64/150
output shape: (10, 768)
Running batch 65/150
output shape: (10, 768)
Running batch 66/150
output shape: (10, 768)
Running batch 67/150
output shape: (10, 768)
Running batch 68/150
output shape: (10, 768)
Running batch 69/150
output shape: (10, 768)
Running batch 70/150
output shape: (10, 768)
Running batch 71/150
output shape: (10, 768)
Running batch 72/150
output shape: (10, 768)
Running batch 73/150
output shape: (10, 768)
Running batch 74/150
output shape: (10, 768)
Running batch 75/150
output shape: (10, 768)
Running batch 76/150
output shape: (10, 768)
Running batch 77/150
output shape: (10, 768)
Running batch 78/150
output shape: (10, 768)
Running batch 79/150
output shape: (10, 768)
Running batch 80/150
output shape: (10, 768)
Running batch 81/150
output shape: (10, 768)
Running batch 82/150
output shape: (10, 768)
Running batch 83/150
output shape: (10, 768)
Running batch 84/150
output shape: (10, 768)
Running batch 85/150
output shape: (10, 768)
Running batch 86/150
output shape: (10, 768)
Running batch 87/150
output shape: (10, 768)
Running batch 88/150
output shape: (10, 768)
Running batch 89/150
output shape: (10, 768)
Running batch 90/150
output shape: (10, 768)
Running batch 91/150
output shape: (10, 768)
Running batch 92/150
output shape: (10, 768)
Running batch 93/150
output shape: (10, 768)
Running batch 94/150
output shape: (10, 768)
Running batch 95/150
output shape: (10, 768)
Running batch 96/150
output shape: (10, 768)
Running batch 97/150
output shape: (10, 768)
Running batch 98/150
output shape: (10, 768)
Running batch 99/150
output shape: (10, 768)
Running batch 100/150
output shape: (10, 768)
Running batch 101/150
output shape: (10, 768)
Running batch 102/150
output shape: (10, 768)
Running batch 103/150
output shape: (10, 768)
Running batch 104/150
output shape: (10, 768)
Running batch 105/150
output shape: (10, 768)
Running batch 106/150
output shape: (10, 768)
Running batch 107/150
output shape: (10, 768)
Running batch 108/150
output shape: (10, 768)
Running batch 109/150
output shape: (10, 768)
Running batch 110/150
output shape: (10, 768)
Running batch 111/150
output shape: (10, 768)
Running batch 112/150
output shape: (10, 768)
Running batch 113/150
output shape: (10, 768)
Running batch 114/150
output shape: (10, 768)
Running batch 115/150
output shape: (10, 768)
Running batch 116/150
output shape: (10, 768)
Running batch 117/150
output shape: (10, 768)
Running batch 118/150
output shape: (10, 768)
Running batch 119/150
output shape: (10, 768)
Running batch 120/150
output shape: (10, 768)
Running batch 121/150
output shape: (10, 768)
Running batch 122/150
output shape: (10, 768)
Running batch 123/150
output shape: (10, 768)
Running batch 124/150
output shape: (10, 768)
Running batch 125/150
output shape: (10, 768)
Running batch 126/150
output shape: (10, 768)
Running batch 127/150
output shape: (10, 768)
Running batch 128/150
output shape: (10, 768)
Running batch 129/150
output shape: (10, 768)
Running batch 130/150
output shape: (10, 768)
Running batch 131/150
output shape: (10, 768)
Running batch 132/150
output shape: (10, 768)
Running batch 133/150
output shape: (10, 768)
Running batch 134/150
output shape: (10, 768)
Running batch 135/150
output shape: (10, 768)
Running batch 136/150
output shape: (10, 768)
Running batch 137/150
output shape: (10, 768)
Running batch 138/150
output shape: (10, 768)
Running batch 139/150
output shape: (10, 768)
Running batch 140/150
output shape: (10, 768)
Running batch 141/150
output shape: (10, 768)
Running batch 142/150
output shape: (10, 768)
Running batch 143/150
output shape: (10, 768)
Running batch 144/150
output shape: (10, 768)
Running batch 145/150
output shape: (10, 768)
Running batch 146/150
output shape: (10, 768)
Running batch 147/150
output shape: (10, 768)
Running batch 148/150
output shape: (10, 768)
Running batch 149/150
output shape: (10, 768)
Running batch 150/150
output shape: (10, 768)
transformed.shape: (1500, 768)

In [131]:
output.predict(X_test[:10])

Transform Called
Running batch 1/1
output shape: (10, 768)
transformed.shape: (10, 768)

array([[0, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [0, 1, 0, 0, 0],
       [0, 0, 0, 0, 1],
       [0, 0, 0, 1, 0],
       [0, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [0, 0, 0, 0, 0],
       [0, 0, 0, 1, 0],
       [0, 0, 0, 0, 0]], dtype=uint8)

In [135]:
probs = output.predict_proba(X_test[:15])

Transform Called
Running batch 1/2
output shape: (10, 768)
Running batch 2/2
output shape: (5, 768)
transformed.shape: (15, 768)

In [53]:
Y_test[:3].values

array([[0, 0, 1, 0, 0],
       [1, 0, 0, 0, 0],
       [0, 1, 0, 0, 0]], dtype=uint8)

In [134]:
Y_test[:15]

,category_business,category_entertainment,category_politics,category_sport,category_tech
414,0,0,1,0,0
420,1,0,0,0,0
1644,0,1,0,0,0
416,0,0,0,0,1
1232,0,0,0,1,0
1544,1,0,0,0,0
1748,1,0,0,0,0
1264,0,0,0,1,0
629,0,0,0,1,0
1043,0,0,0,0,1
298,0,1,0,0,0
582,0,1,0,0,0
1480,0,1,0,0,0
383,0,1,0,0,0
555,0,1,0,0,0

In [20]:
#This will predict the classes for each row. The class with the highest probability is selected
def PredictClasses(model, X):
    probs = model.predict_proba(X)
    probs = np.array(probs) #List to (N, num_classes, 2)
    predictedClasses = np.argmax(probs[:,:,1].T, axis=1) #First index classifies it as 0, second as 1, Then get the max index for each row
    
    return predictedClasses

In [21]:
results = PredictClasses(pipeline, X_test[:15])
results

NameError: name 'pipeline' is not defined

In [139]:
results

array([2, 0, 1, 4, 3, 2, 0, 3, 3, 4, 1, 1, 1, 1, 1], dtype=int64)

In [24]:
#Evaluate the model and print the accuracy
from sklearn.metrics import precision_score, f1_score, recall_score, classification_report
def EvaluateModel(model, X_test, Y_test):
    Y_pred = model.predict(X_test)
    
    total_hits = np.sum(np.sum(Y_pred == Y_test))
    total_misses = np.sum(np.sum(Y_pred != Y_test))
    total_accuracy = total_hits/(total_hits + total_misses)
       
    target_names = [name for name in Y.columns]

    precisions = []
    recalls = []
    f1scores = []
    for (name, col) in zip(target_names, range(len(target_names))):
        y_test = Y_test[name].values
        y_pred = Y_pred[:, col]
        
        if(np.max(y_test) <= 1):
            #Only one category
            precisions.append(precision_score(y_test, y_pred))
            recalls.append(recall_score(y_test, y_pred))
            f1scores.append(f1_score(y_test, y_pred))
        print(f'Category: {name}')
        print(classification_report(y_test, y_pred))
        print('-'*42)
     
    
    print(f'Total Accuracy: {total_accuracy}')
    print(f'Average Precission: {np.average(precisions)}')
    print(f'Average Recall: {np.average(recalls)}')
    print(f'Average F1 Score: {np.average(f1scores)}')

In [25]:
EvaluateModel(pipeline, X_test[:100], Y_test[:100])

Transform Called
Running batch 1/10
output shape: (10, 768)
Running batch 2/10
output shape: (10, 768)
Running batch 3/10
output shape: (10, 768)
Running batch 4/10
output shape: (10, 768)
Running batch 5/10
output shape: (10, 768)
Running batch 6/10
output shape: (10, 768)
Running batch 7/10
output shape: (10, 768)
Running batch 8/10
output shape: (10, 768)
Running batch 9/10
output shape: (10, 768)
Running batch 10/10
output shape: (10, 768)
transformed.shape: (100, 768)
Category: category_business
              precision    recall  f1-score   support

           0       0.93      0.97      0.95        79
           1       0.88      0.71      0.79        21

    accuracy                           0.92       100
   macro avg       0.91      0.84      0.87       100
weighted avg       0.92      0.92      0.92       100

------------------------------------------
Category: category_entertainment
              precision    recall  f1-score   support

           0       0.88      1.00      0.94        74
           1       1.00      0.62      0.76        26

    accuracy                           0.90       100
   macro avg       0.94      0.81      0.85       100
weighted avg       0.91      0.90      0.89       100

------------------------------------------
Category: category_politics
              precision    recall  f1-score   support

           0       0.88      1.00      0.94        80
           1       1.00      0.45      0.62        20

    accuracy                           0.89       100
   macro avg       0.94      0.72      0.78       100
weighted avg       0.90      0.89      0.87       100

------------------------------------------
Category: category_sport
              precision    recall  f1-score   support

           0       0.93      1.00      0.97        83
           1       1.00      0.65      0.79        17

    accuracy                           0.94       100
   macro avg       0.97      0.82      0.88       100
weighted avg       0.94      0.94      0.93       100

------------------------------------------
Category: category_tech
              precision    recall  f1-score   support

           0       0.90      1.00      0.95        84
           1       1.00      0.44      0.61        16

    accuracy                           0.91       100
   macro avg       0.95      0.72      0.78       100
weighted avg       0.92      0.91      0.89       100

------------------------------------------
Total Accuracy: 0.912
Average Precission: 0.9764705882352942
Average Recall: 0.5728458306399483
Average F1 Score: 0.7132956078351802

In [130]:
y.iloc[0:10].values

array([[0, 0, 0, 0, 1],
       [1, 0, 0, 0, 0],
       [0, 0, 0, 1, 0],
       [0, 0, 0, 1, 0],
       [0, 1, 0, 0, 0],
       [0, 0, 1, 0, 0],
       [0, 0, 1, 0, 0],
       [0, 0, 0, 1, 0],
       [0, 0, 0, 1, 0],
       [0, 1, 0, 0, 0]], dtype=uint8)

In [140]:
#Save, Load model

In [2]:
from joblib import dump, load

In [15]:
modelName = 'BertModel.joblib'

In [142]:

dump(pipeline, modelName )

['BertModel.joblib']

In [18]:
loadedModel = load(modelName)

In [19]:
loadedModel.predict(X_test[100:120])

Transform Called
Running batch 1/2
output shape: (10, 768)
Running batch 2/2
output shape: (10, 768)
transformed.shape: (20, 768)

array([[0, 0, 0, 0, 0],
       [0, 0, 0, 0, 1],
       [0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0],
       [0, 0, 0, 0, 1],
       [1, 0, 0, 0, 0],
       [0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0],
       [0, 0, 0, 1, 0],
       [0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0],
       [0, 0, 1, 0, 0],
       [0, 0, 1, 0, 0],
       [0, 0, 0, 0, 0],
       [0, 0, 0, 0, 1],
       [0, 0, 0, 1, 0],
       [0, 0, 0, 1, 0],
       [1, 0, 0, 0, 0],
       [0, 0, 0, 0, 0],
       [0, 0, 1, 0, 0]], dtype=uint8)